html {
  height: 200vh;
  background-color: #242582;
}

.App {
  position: absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}

#header-container {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
}

.Header {
  color: white;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-left: 5%;
  font-weight: 700;
}

#upload {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F64C72;
  border: 1px solid transparent;
  border-radius: .75rem;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  width: 10%;
  height: 35%;
  margin-left: 1.5%;
  margin-right: 5%;
}

#upload:hover {
  background-color: #d25386;
}

@media (max-width: 768px) {
  #import {
    font-size: 1rem;
    padding: 0.4em 0.8em;
  }
}

#dashboard {
  display: flex;
  justify-content: right;
  margin-left: auto;
  margin-right: 1.5%;
  font-size: 1.18rem;
}

#dashboard:hover {
  text-decoration: underline;
  cursor: pointer;
}

#background-split {
  position: absolute;
  transform: skewY(-3deg);
  background-color: #2F2FA2;
  z-index: 1;
  top: 90vh;
  width: 100%;
  height: 150vh;
}

#init-bubble-chart {
  padding-left: 8%;
}