html {
  height: 200vh;
  background-color: #242582;
}

.App {
  position: absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}

#header-container {
  width: 100%;
  height: 11%;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #242582;
  z-index: 10;
}

.Header {
  color: white;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-left: 5%;
  font-weight: 700;
}

#sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F64C72;
  border: 1px solid transparent;
  border-radius: .75rem;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  width: 10%;
  height: 35%;
  margin-left: 1.5%;
  margin-right: 5%;
}

#sign-in:hover {
  background-color: #d25386;
}

@media (max-width: 768px) {
  #import {
    font-size: 1rem;
    padding: 0.4em 0.8em;
  }
}

#dashboard {
  display: flex;
  justify-content: right;
  margin-left: auto;
  margin-right: 1.5%;
  font-size: 1.18rem;
}

#dashboard:hover {
  text-decoration: underline;
  cursor: pointer;
}

#register {
  display: flex;
  justify-content: right;
  margin-left: auto;
  margin-right: 1.5%;
  margin-left: 1.5%;
  font-size: 1.18rem;
}

#register:hover {
  text-decoration: underline;
  cursor: pointer;
}

#background-split {
  position: absolute;
  transform: skewY(-3deg);
  background-color: #2F2FA2;
  z-index: 1;
  top: 90vh;
  width: 100%;
  height: 150vh;
}

#init-bubble-chart {
  padding-left: 6%;
  padding-top: 6%;
  overflow: visible;
}

#main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 8%;
  top: 15%;
  width: 48%;
  right: 8%;
}

#number-sites {
  font-family: "Roboto Mono", monospace;
  font-size: 7em;
  order: 1;
  align-self: flex-end;
  margin: 0;
}

#sites-crawled {
  order: 2;
  width: auto;
  align-self: flex-end;
  font-size: 2.3em;
  margin: 0;
}

#learn-more {
  order: 3;
  align-self: flex-end;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  height: 4vh;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1em;
  margin-top: 1%;
}

#learn-more:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#learn-more:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

#learn-more:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


#main-subtext {
  position: absolute;
  right: 10%;
  top: 55%;
  width: 35%;
  height: 50%;
}

#question {
  font-size: 2.3em;
  margin: 0;
  padding-bottom: 5%;
}

.pText {
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

#intro-p {
  position: absolute;
  font-size: 1em;
}